<div>
  <h1 style="bolder">Upload your files here:</h1>
  {{instructions}}
  <br />
  <br />
  <!-- <form #userForm="ng-form"> -->
  <form>
    <div class="form-group">
      <label>Custodian</label>
      <input type="text" class="form-control" name="custodian" required min [(ngModel)]="custodian">
    </div>
    <br />
    <div class="form-group">
      <label>Single File</label>
      <input id="upload" type="file" accept=".txt" ng-file-model="files" name="files[]" size=30 (change)="changeListener($event)" />
      <br />
      <textarea class="form-control" rows=15 cols=120 id="ms_word_filtered_html" readonly>{{fileContent}}</textarea>
      <output id="list"></output>
    </div>
    <div class="form-group">
      <label>Multiple Files</label>
      <input id="upload_mult" type="file" accept=".txt" ng-file-model="files" name="files[]" size=30 (change)="changeListener_mult($event)" multiple />
      <br />
      <output id="list_mult"></output>
    </div>
  </form>
</div>
