<style>
	.list {
		list-style-type: none;
	}

	#name {
		color: #6495ED;
		column-span: 2;
	}

	.cell_email {
		color:black;
		font-style: italic;
		background-color:#ADD8E6;
		padding-left: 10px;
		padding-right: 10px;
	}

	.cell_phone {
		color:black;
		font-style:italic;
		background-color:#E0FFFF;
		padding-left: 10px;
		padding-right: 10px;
	}

</style>

<ul class = "list">
	<li>Founded:		09-18-17</li>
	<li>Headquarters:	HN C107</li>
	<li>Members:		4</li>
	<li>Misc:			---</li>
</ul>


<ul class = "list">
	<li>
   		<h2 id = "name">Michael Ciminesi</h2>
   		<table>
      		<tr>
      			<td class = "cell_email">mciminesi@concat.com</td>
      			<td class = "cell_phone">123-456-789</td>
      		</tr>
  		</table>
  		<p>
  			placeholder
  		</p>
    </li>

	<li>
		<h2 id = "name">Eric Chiu</h2>
   		<table>
      		<tr>
      			<td class = "cell_email">echiu@concat.com</td>
      			<td class = "cell_phone">987-654-321</td>
      		</tr>
  		</table>
  		<p>
  			placeholder
  		</p>
    </li>

    <li>
      	<h2 id = "name">Simon Li</h2>
   		<table>
      		<tr>
      			<td class = "cell_email">sli@concat.com</td>
      			<td class = "cell_phone">137-248-569</td>
      		</tr>
  		</table>
  		<p>
  			placeholder
  		</p>
  	</li>

    <li>
      	<h2 id = "name">Brian Shi</h2>
   		<table>
   			<tr>
      			<td class = "cell_email">bshi@concat.com</td>
      			<td class = "cell_phone">321-654-987</td>
      		</tr>
  		</table>
  		<p>
  			placeholder
  		</p>
  	</li>
</ul>