<style>
  h1 {
    text-align:       center;
  }

  #about {
    text-align:       center;
  }

  #team {
    margin-left:      auto;
    margin-right:     auto;
    text-align:       center;
    border:         5px hidden;
    border-collapse:  collapse;
    width:          100%;
  }

  #th_one {
    background-color:   #6495ED;
    border:           2px solid white;
    color:            white;
    font-family:      "Trebuchet MS", Helvetica, sans-serif;
    font-size:        250%;
    padding:          35px;
    text-align:       center;     
  }

  #th_two {
    background-color:   #32CD32;
    border:           2px solid white;
    color:            white;
    font-family:      "Trebuchet MS", Helvetica, sans-serif;
    font-size:        250%;
    padding:          35px;
    text-align:       center;
  }

  td {
    border:         2px solid #ddd;
    font-size:        105%;
    padding:          15px;
  }

  #names {
    color:            #663399;
    font-family:      "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  #bios {
    font-size:        80%;
    text-align:       left;
  }


</style>

<!-- title -->
<h1> About Us </h1>

<div id = "about">
  A group consisting of four CSCI499-02 students founded on September 18, 2017        <br>
  and situated in Hunter North: Room C107. Under the brand of ConCat, the team        <br>
  was tasked with the construction of the " [Con]ceptualizer and [Cat]egorizer ":       <br>
  a tool for reviewing a data set to identify its relevant concepts and categories.     <br>
</div>


<br>
<h1> The Team </h1>
<br>

<table id = "team" style = 'table-layout: fixed'>
  <tr>
    <th id = "th_one"> M C </th>
    <th id = "th_two"> E C </th>
    <th id = "th_one"> S L </th>
    <th id = "th_two"> B S </th>
  </tr>

  <tr id = "names">
    <td> Michael Ciminesi   </td>
    <td> Eric Chiu      </td>
    <td> Simon Li       </td>
    <td> Brian Shi      </td>
  </tr>

  <tr id = "bios">

    <!--Michael-->
    <td>
      <div>
		Michael is a second degree student at Hunter College, studying Computer Science with a minor in Mathematics. 
		His background includes 4 years as a data analyst, almost 10 years as an attorney practicing in New York, and experience with every step of the electronic discovery process. That process served as his inspiration for this project, conceived of as a quick and simple machine learning analysis of the type of data seen during pre-trial discovery. He completed the Angular 2 front end and most of the MongoDB back end for this project, while serving as project manager and lead developer, responsible for code maintenance and merges.
      </div>
    </td>
    
    <!--Eric-->
    <td>
      <div>
        A senior at Hunter college currently majoring in computer science. 
        Interested in machine learning and cyber security and currently taking classes for them. 
        Also learning web development on the side focusing more on the back end technologies.        
      </div>
    </td>
    
    <!--Simon-->
    <td>
      <div>
        First became interested in Computer Science shortly prior to starting high school, for lack of general interest in anything else. 
        Currently learning about parallel computing and computer forensics.
        Enjoys reading TVTropes for amusement and occasional learning when time permits.
      </div>
    </td>

  <!--Brian-->
    <td>
      <div>
        Graduated from Hunter College with a degree in computer science. 
        Wish to start a career in the I.T field and get hands on experience with windows server and active directory. 
        In my spare time, I love to play and watch basketball.  
      </div>
    </td>

  </tr>
</table>