<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar_collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul>
        <li><a class="navbar-brand" routerLink='/brand'>ConCat</a></li>
      </ul>
    </div>
    <div id="main_navbar_collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="nav-hover">
        <li><a routerLink='/home' routerLinkActive="active">Home</a></li>
        <li><a routerLink='/about' routerLinkActive="active">About Us</a></li>
        <li><a *ngIf="authService.authenticated" routerLink='/upload' routerLinkActive="active">Upload Files</a></li>
        <li><a *ngIf="authService.authenticated" routerLink='/documents' routerLinkActive="active">Documents<span class="glyphicon glyphicon-briefcase"></span></a></li>
        <li><a *ngIf="authService.authenticated" routerLink='/analysis' routerLinkActive="active">Analysis</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a *ngIf="!authService.authenticated" (click)="authService.login()">Log In</a>
          <a *ngIf="authService.authenticated" (click)=authService.logout()>Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="mainTitle">
  <img class="img-responsive" width="300" height="300" src="assets/concat-banner.png" alt="banner image">

  <!-- <section id="mainTitle">
    <img class="img-responsive" width="300" height="300" src="assets/concat-banner.png" alt="banner image">
  </section> -->
</div>
<div>
  <section id="home">
    <h1 class="center-bold">
      <span class="apptitle1">Con</span><span class="apptitle2">Cat</span>
      <br />
      <span class="apptitle3">{{title}}</span>
    </h1>
    <router-outlet></router-outlet>
  </section>
</div>
<div class="nobullets">
  <section id="links">
  <h2>Links:</h2>
    <ul>
      <!-- <h4><li><a target="_blank" rel="noopener" href="https://angular.io/tutorial"><span class="glyphicon glyphicon-link"></span>&nbsp;Tour of Heroes</a></li></h4> -->
      <h4><li><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></li></h4>
      <h4><li><a target="_blank" rel="noopener" href="https://www.edrm.net/frameworks-and-standards/edrm-model/">Electronic Discovery Reference Model</a></li></h4>
      <h4><li><a target="_blank" rel="noopener" href="https://www.cs.cmu.edu/~./enron/">More about the Enron email dataset</a></li></h4>
      <h4><li><a target="_blank" rel="noopener" href="https://github.com/mciminesi/capstone">Github for this app</a></li></h4>
    </ul>
  </section>
</div>
