<p>
  home works!
</p>
<h1>
  {{homeTitle}}
</h1>
<div>
  <h1>Upload your file here:</h1>
    <form ng-controller = "myCtrl">
       <input type = "file" file-model="files" multiple/>
       <button ng-click = "uploadFile()">Upload</button>
       <li ng-repeat="file in files">{{file.name}}</li>
    </form>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      angular.module('myApp', []).directive('fileModel', ['$parse', function ($parse) {
          return {
             restrict: 'A',
             link: function(scope, element, attrs) {
                element.bind('change', function(){
                $parse(attrs.fileModel).assign(scope,element[0].files)
                   scope.$apply();
                });
             }
          };
       }]).controller('myCtrl', ['$scope', '$http', function($scope, $http){


         $scope.uploadFile=function(){
         var fd=new FormData();
          console.log($scope.files);
          angular.forEach($scope.files,function(file){
          fd.append('file',file);
          });
         $http.post('http://localhost:1337/mediaobject/upload',fd,
                                                              {
                                                              transformRequest: angular.identity,
                                                              headers: {'Content-Type': undefined}
                                                              }).success(function(d){
                                                              console.log(d);
                                                              })
         }
       }]);

    </script>
    <form>
    <input type="file" id="files" name="files[]" multiple />
    <div id="drop_zone" style="width: 740px; height: 100px; background-color: grey">Drop files here</div>
<output id="list"></output>
</form>

<script>
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.target.files; // FileList object.

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }

  // Setup the dnd listeners.
  var dropZone = document.getElementById('drop_zone');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);
</script>

  <form enctype="multipart/form-data">
    <input id="upload" type=file accept=".txt" name="files[]" size=30>
    <button onclick="abortRead();">Cancel read</button>
    <div id="progress_bar"><div class="percent">0%</div></div>
  </form>

  <textarea class="form-control" rows=35 cols=120 id="ms_word_filtered_html"></textarea>

  <script>

    var reader;
    var progress = document.querySelector('.percent');

  function abortRead() {
    reader.abort();
  }

  function errorHandler(evt) {
    switch(evt.target.error.code) {
      case evt.target.error.NOT_FOUND_ERR:
        alert('File Not Found!');
        break;
      case evt.target.error.NOT_READABLE_ERR:
        alert('File is not readable');
        break;
      case evt.target.error.ABORT_ERR:
        break; // noop
      default:
        alert('An error occurred reading this file.');
    };
  }

  function updateProgress(evt) {
    // evt is an ProgressEvent.
    if (evt.lengthComputable) {
      var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
      // Increase the progress bar length.
      if (percentLoaded < 100) {
        progress.style.width = percentLoaded + '%';
        progress.textContent = percentLoaded + '%';
      }
    }
  }

  function handleFileSelect(evt) {
    // Reset progress indicator on new file selection.
    progress.style.width = '0%';
    progress.textContent = '0%';

    reader = new FileReader();
    reader.onerror = errorHandler;
    reader.onprogress = updateProgress;
    reader.onabort = function(e) {
      alert('File read cancelled');
    };
    reader.onloadstart = function(e) {
      document.getElementById('progress_bar').className = 'loading';
    };
    reader.onload = function(e) {
      // Ensure that the progress bar displays 100% at the end.
      progress.style.width = '100%';
      progress.textContent = '100%';
      setTimeout("document.getElementById('progress_bar').className='';", 2000);
    }

    // Read in the image file as a binary string.
    reader.readAsBinaryString(evt.target.files[0]);
    // reader.readAsText(evt.target.files[0]);
  }

    // function handleFileSelect(evt) {
    //   var files = evt.target.files; // FileList object
    //
    //   // use the 1st file from the list
    //   f = files[0];
    //
    //   reader = new FileReader();
    //   //var reader = new FileReader();
    //
    //   // Closure to capture the file information.
    //   reader.onload = (function(theFile) {
    //     return function(e) {
    //       jQuery( '#ms_word_filtered_html' ).val( e.target.result );
    //     };
    //   })(f);
    //
    //   // Read in the image file as a data URL.
    //   reader.readAsText(f);
    // }

    document.getElementById('upload').addEventListener('change', handleFileSelect, false);

  </script>
</div>

<!--This command displays material from the calling component-->
<ng-content></ng-content>
<!-- property binding -->
<p>
  <input value="{{myString}}" />
  <input required="{{myBoolean}}" />
  <button (click)="alertMe()">Click me</button>
</p>
<label>Name:</label>
<input [(ngModel)]="file2.name" />
<p>{{file2.name}}</p>
<label>Body:</label>
<input [(ngModel)]="file2.body" />
<p>{{file2.body}}</p>
<div></div>
<br />
<!-- <h1>Testing custom binding using @Input.</h1>
<p>{{file.name}}</p>
<p>{{file.body}}</p>
<br /> -->
<h1>Testing custom binding using @Output.</h1>
<button (click)="fireYellEvent($event)">Click to call yell function.</button>
<p></p>
<br />
